name: Test Automation WorkFlow
'on':
  schedule:
    - cron: 0 18 * * *
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
 build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout source code
    uses: actions/checkout@v4
  - name: Set up JDK 11
    uses: actions/setup-java@v4
    with:
      java-version: '11'
      distribution: temurin
      cache: maven
  - name: Prepare folders
    run: |
      mkdir -p logs
      mkdir -p screenshots
      mkdir -p public/extent-reports
  - name: Run Test Automation Framework
    run: >-
      mvn -B test -Dbrowser=chrome -DisHeadless=true -DisLambdaTest=false ||
      true
  - name: Debug Target Folder
    if: always()
    run: |
      ls -R target || true
  - name: Upload Test Logs
    if: always()
    uses: actions/upload-artifact@v4
    with:
      name: test-logs
      path: logs/
  - name: Upload Screenshots
    if: always()
    uses: actions/upload-artifact@v4
    with:
      name: screenshots
      path: screenshots/
  - name: Upload Test Reports
    if: always()
    uses: actions/upload-artifact@v4
    with:
      name: test-reports
      path: target/**
  - name: Copy Reports to gh-pages folder
    if: always()
    run: |
      cp -R target public/extent-reports/ || true
      cp -R screenshots public/extent-reports/ || true
  - name: Deploy to GitHub Pages
    if: always()
    uses: JamesIves/github-pages-deploy-action@v4
    with:
      token: '${{ secrets.PAT1234 }}'
      folder: public/extent-reports
      clean: true
